.selectize-control:hover:after { display:none; }
.formTable.transparent { border:none; background:transparent; }
.formTable.transparent TR:last-child TD, .formTable TR:last-child TH { border-bottom: none; }

/* === SEARCH === */

	.packageRegisterPage .packageRegisterPageContent .searchToolPanel { text-align: right; padding: 8px; }
	.packageRegisterPage .packageRegisterPageContent .toolPanel { background: #ececec; border: 1px solid #ccc; border-bottom: 0; }
	input.searchable-filter { width: 400px; padding-right: 20px; padding-left: 5px; height: 26px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAARJJREFUKBWNUcFKw0AQnZmGolfP/oTYa8Wz3+DVHoKEmiqU+gNSIdYlyRcI/oYg3oT8Sa/W0s1035IRLBUcyM7se28mM7NMnbnaDXtEd8w0AKRKn57oMUuzd9PAC46qer5PmF5I6fV75U/xIQZW1m4GjRmjMojV1+Ykz/OlEfBFURwdHCbNRunS/iRoQ1ua7oqRAAwcNLjDBD2v1/4t3vYc4Gwu0HGGPbpfUFhAYoBgG/1+79yAXd9xjeGC1bHQAwY00HzEhOba6twwRoC1svAIA9o8sXIQM/Fxq1pcp9kE2piAoCwXZyxyiwG7nptYWfgibCYPL7lI0+zmJwFJf1lduydiHocCo38loFBVuSvv6WML5mNxZnI15zsAAAAASUVORK5CYII=); background-repeat: no-repeat; background-position: right 5px center; border-radius: 3px; }
	.packageRegisterPage th { font-weight: 700; }
	.icon-package { width: 16px; height: 16px; margin-right: 6px; display: inline-block; background: url(../images/icon_package.png) no-repeat; }

/* === RECORDS LIST === */

.records-list { overflow: hidden; }
.record-item { width:420px; margin:20px 20px 0 0; padding:20px; border:solid 1px #DDDDDD; overflow:hidden; float:left; }
.record-item input[type='checkbox'] { font-size:20px; float:left; margin:8px 15px 0 0;  -ms-transform: scale(1.4); /* IE */ -moz-transform: scale(1.4); /* FF */ -webkit-transform: scale(1.4); }
.record-item .filetype-icon { width:32px; height:32px; float:left; margin-right:10px; background:#DDD; }
.record-item  .record-item-details { font-size: 14px; color:#73746F; }
.record-item  .record-item-details a { font-size: 18px; font-weight: normal; display:block; }

/* === MAIL LIST === */

td.mailStatus-indicator { font-weight: bold; background-position:8px 8px; background-repeat: no-repeat; padding-left:28px; }
td.mailStatus-indicator.mailStatus-overdueStatus { background-image: url('../images/corrstatus-overdue.svg'); color: #D92020; }
td.mailStatus-indicator.mailStatus-closedOutStatus { background-image: url('../images/corrstatus-closed.svg');  color: #4A992E; }
td.mailStatus-indicator.mailStatus-partialStatus {  background-image: url('../images/corrstatus-partial.svg'); color: #7639BD; }
td.mailStatus-indicator.mailStatus-outstandingStatus { background-image: url('../images/corrstatus-outstanding.svg'); color: #F38D3C; }
td.mailStatus-indicator.mailStatus-waitingApproval { background-image: url('../images/corrstatus-waitingApproval.svg'); color: #F38D3C; }
td.mailStatus-indicator.mailStatus-notApplicableStatus { background-image: url('../images/corrstatus-notapplicable.svg');color: #9B9B9B; }
td.mailStatus-indicator.mailStatus-respondedStatus { background-image: url('images/corrstatus-responded.svg'); color: #8ECC3D; }
td.mailStatus-indicator.mailStatus-draft { background-image: url('../images/corrstatus-draft.svg'); color: #73746f; }

/* #CreateMailButton, #CloseOutMail, #MailNumResults .selectorCell, #PackageMailTable th.selectorCell, #PackageMailTable td.selectorCell, #CreateNewMail { display:inline-block; } */
.editMode #CreateMailButton, .editMode #CloseOutMail, .editMode #MailNumResults span.selectorCell, .editMode #CreateNewMail { display:none; }
.editMode #PackageMailTable th.selectorCell, .editMode #PackageMailTable td.selectorCell { display:none; }
#mockdoc { width: 868px; margin: 68px auto 0; }
#mockdoc .box-simple { margin: 20px; }
#mockdoc .box { margin: 20px; padding: 20px 0; background-color: white; box-shadow: 0 5px 10px rgba(0,0,0,0.1337); }
#mockdoc .formTable .messagecell { width: 97px; }
#mockdoc input, select { padding: 2px; }
#mockdoc div.formHeader { background-color: #E7E7E7; padding-left: 15px; border-color: white; border-width: 15px 0 5px 0; border-style: solid; font-size: 1.286em; font-weight: normal; }
#mockdoc .ic-search[onclick] { cursor: pointer; }
#mockdoc .uiIconField .bicon { margin: 1px -5px -1px 0; }
#mockdoc strong { font-weight: normal; }
.recipientsTable STRONG { font-weight: normal; }
.box .formTable { background: #ffffff; border: none; }
.box .formTable td { border-width: 0; }
.box TABLE.recipientsTable { width: 614px; margin-top: -10px; border-spacing: 0 4px; border-collapse: separate; }
.recipientsTable td { padding: 3px 5px; }
.recipientsTable tr.contentcell td:first-child { width: 100%; border-radius:3px 0 0 3px; border-width:1px 0 1px 1px; }
.recipientsTable tr.contentcell td:last-child { width: 100%; border-radius:0 3px 3px 0; border-width:1px 1px 1px 0; }
.recipientsTable tr.contentcell td { border: 1px solid #3ba1ef; background-color: #dfeefb; border-width: 1px 0; }
.recipientsTable .recipientsHeader td { padding-top: 0; padding-bottom: 0; color: #73746f; font-size: 0.857em; text-transform: uppercase; }
.recipientsTable .secondarylabel { text-align: center; white-space: nowrap; padding: 7px 3px 3px; }
.recipientsTable INPUT[type=checkbox] { height: 12px; vertical-align: bottom; }
.messagecell.directory button { margin-left: -5px; }
.messagecell.directory { padding: 0; }
.box .formTable > TBODY > TR:last-child > TD, .box .formTable > TBODY > TR:last-child > TH { border-bottom-width: 0; }
SELECT { top: -1px; }
SELECT { position: relative; height: 24px; padding-right: 0px; }

/* === CREATE MAIL === */

#CreateMailPanel { position: fixed; top:0; left:0; width:100%; height:100%; z-index:50; overflow:auto; }
.editMail { background: #cfcfcf; }
#CreateMailPanel .navbar { position: fixed; z-index: 1030; top: 0; right: 0; left: 0; min-height: 30px; border-bottom: 1px solid #cccccc; padding: 10px 30px 9px 30px; background: #ececec; }
#CreateMailPanel .navbar-brand { float: left; padding: 6px 20px 5px 0; font-size: 1.286em; line-height: 100%; margin: 0; font-weight: normal; color: #73746f; }


/* === ACTIONS IN PAGE HEADERS === */

.content-action-header { background:#ECECEC; border:1px solid #CCCCCC; margin-top:10px; padding:5px; }
.content-action-header .num-results { margin:6px 0 0 10px; }

/* === TABS === */

.nav-tabs A, .nav-tabs A:hover, .nav-tabs A:focus { text-decoration: none; }
.nav-tabs { position: relative; margin-bottom: 0; padding-left: 10px; list-style: none; bottom: -1px; left:-20px; box-shadow: 0px 10px 26px 0px #f8f8f8; }
.nav-tabs:before, .nav-tabs:after { content: " "; display: table; }
.nav-tabs:after { clear: both; }
.nav-tabs:before, .nav-tabs:after { content: " "; display: table; }
.nav-tabs:after { clear: both; }
.nav-tabs > li { float: left; margin-bottom: -1px; }
.nav-tabs > li > a { display: block; margin: 0 4px 0 0; padding: 6px 11px 5px 11px; border: 1px solid transparent; color: #333333; }
.nav-tabs > li > a:hover, .nav-tabs > li > a:active { text-decoration: none; color: #e86c16; }
.nav-tabs > li.active > a { border: 1px solid #cccccc; border-bottom-style: hidden; background: #f8f8f8; cursor: default; color: #e86c16; }
.nav-tabs.nav-stacked { bottom: 0; padding-left: 0; margin-right: -1px; }
.nav-tabs.nav-stacked > li { float: none; }
.nav-tabs.nav-stacked > li > a { margin: 0; border: 1px solid #cccccc; background-color: #ececec; }
.nav-tabs.nav-stacked > li.active > a { background-color: #ffffff; border-right-color: #ffffff; }

.tab-content { margin:0 20px 0 -20px; }
.tab-content > .tab-pane.active { display: block; }
.tab-content > .tab-pane { display: none; padding: 25px; float: left; width: 100%; border-top: 1px solid #cccccc; }

/* === DRAG AND DROP FILE UPLOAD === */


.drag-area { background:#ECECEC; border:dashed 3px #73746F; padding:20px; }
.box { position: relative; }
.box.is-dragover { outline-offset: -20px; outline-color: #c8dadf; background-color: #fff; }
	.box__dragndrop, .box__icon { display: none; }
	.box.has-advanced-upload .box__dragndrop { display: inline; }
	.box.has-advanced-upload .box__icon { width: 100%; height: 80px; fill: #92b0b3; display: block; margin-bottom: 40px; }
	.box.is-uploading .box__input, .box.is-success .box__input, .box.is-error .box__input { visibility: hidden; }
	.box__uploading, .box__success, .box__error,  .box .box__file { display: none; }
	.box.is-uploading .box__uploading, .box.is-success .box__success, .box.is-error .box__error { display: block; position: absolute; top: 50%; right: 0; left: 0; -webkit-transform: translateY( -50% ); transform: translateY( -50% ); }
	.box__uploading { font-style: italic; }
	.box__success { -webkit-animation: appear-from-inside .25s ease-in-out; animation: appear-from-inside .25s ease-in-out; }
		@-webkit-keyframes appear-from-inside
		{
			from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
			75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
			to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
		}
		@keyframes appear-from-inside
		{
			from	{ transform: translateY( -50% ) scale( 0 ); }
			75%		{ transform: translateY( -50% ) scale( 1.1 ); }
			to		{ transform: translateY( -50% ) scale( 1 ); }
		}

	.box__restart { font-weight: 700; }
	.box__restart:focus, .box__restart:hover { color: #39bfd3; }
	.js .box__file { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
	.js .box__file + label:hover strong, .box__file:focus + label strong, .box__file.has-focus + label strong { color: #39bfd3; }
	.js .box__file:focus + label, .js .box__file.has-focus + label { outline: 1px dotted #000; outline: -webkit-focus-ring-color auto 5px; }
	.no-js .box__file + label { display: none; }
	.no-js .box__button { display: block; }
	.box__button { font-weight: 700; color: #e5edf1; background-color: #39bfd3; display: block; padding: 8px 16px; margin: 40px auto 0; }
		.box__button:hover, .box__button:focus { background-color: #0f3c4b; }

